.mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
  %label.mdl-button.mdl-js-button.mdl-button--icon{:for => "fixed-header-drawer-exp"}
    %i.material-icons search
  .mdl-textfield__expandable-holder
    = text_field_tag "#{resourse}[query]", value, id: 'fixed-header-drawer-exp', class: "mdl-textfield__input"