.mdl-layout.mdl-js-layout.mdl-layout--fixed-header.mdl-layout--fixed-tabs
  %header.mdl-layout__header
    .mdl-layout__header-row
      / =#%span.mdl-layout-title Фильтр
      
    / Tabs
    .mdl-layout__tab-bar.mdl-js-ripple-effect
      %a.mdl-layout__tab.is-active{:href => "#fixed-tab-1"} Список
      %a.mdl-layout__tab{:href => "#fixed-tab-2"} Карта
  .mdl-layout__drawer
    %span.mdl-layout-title Фильтр
    = render "search"
    = select_date Date.today, prefix: :start_date
  %main.mdl-layout__content
    = render 'list', locals: {events: @events}

    %section#fixed-tab-2.mdl-layout__tab-panel
      .page-content
        / Your content goes here
      #map{style: 'width: 800px; height: 500px;'}

      :javascript
        map = Event.MapBuilder.init(#{raw @hash.to_json});
        map;

/ :javascript
/   MapHandler.init(map)
